

body{
	font-family: 'Open Sans', sans-serif;
	background-color: 	#F5EBCC;
}



header{
	float: left;
	margin: 0 0 50px 0;
	padding:  5px 0 0 0;
	width: 100%;
	background: #3399FF;
	border-color: #0066FF;

}

h1{
	font-family: 'Changa One', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
	color: white;
}

#title{
	text-align: center;
}

.center{
	text-align: center;
}

#guessAlign{
	text-align: center;
}
#guessRemain{
	display: inline-block;
	border-color: #3399FF;
	border-style: solid;
	padding: 10px;
	}

h2{
	text-align: center;
}

#guessfield{
	text-align: center;
}

#buttons{
	text-align: center;
}

#correct{
 color: red;
}

#poi{
	text-align: center;
	margin: 30px;
}



/*hot cold font colors*/
#arctic{
	color: #0033CC;
}
#cold{
	color: #3399FF;
}
#warm{
	color: #FF9999;
}
#warmer{
	color: #FF9933;
}
#hot{
	color:#FF0000;
}

